{:deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.boofcv/boofcv-core {:mvn/version "0.35"} ;; ???????
  cljfx {:mvn/version "1.6.7"} ;; gui
  org.openjfx/javafx-swing {:mvn/version "13"}
  org.clojure/data.csv {:mvn/version "0.1.4"} ;; data injestion
  thi.ng/geom {:mvn/version "1.0.0-RC4"} ;; plotting
  com.github.afester.javafx/FranzXaver {:mvn/version "0.1"} ;; SVG to JFX friendly stuff...
  }
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :aliases {:uberjar
           {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.2"}}
            :main-opts ["-m" "cambada.uberjar"
                        "-m" "sausage.core"]}}}
